.container {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}
.grid {
    display: grid;
    height: 50vh;
    width: 50vh;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-color: black;
}
.cell {
    background-color: gray;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 4rem;
}