@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-weight: 800;
    font-size: 6rem;
    text-align: center;
    margin: 0;
}
h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}
.header {
    margin-bottom: 1.5rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
}

.header form {
    display: grid;
    gap: 1rem;
}

form button {
    width: auto;
    height: 2rem;
    border-radius: .5rem;
    border: solid black 3px;
}
.player {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: .5rem;
}
label {
    font-weight: 500;
    font-size: 1.5rem;
}
input {
    font-size: 1.5rem;
    font-weight: 400;
}
.container {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}
.grid {
    display: grid;
    height: 50vh;
    width: 50vh;
    gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-color: black;
}
.cell {
    border-radius: 5%;
    border: .3rem solid black;
    background-color: gray;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 4rem;
}
.cell:hover {
    background-color: white;
    transform: scale(1.05);
}

.players {
    display: grid;
    grid-auto-flow: column;
    margin: 1rem;
    gap: 1rem;
}

.player1, .player2 {
    display: grid;
    justify-content: center;
    border-radius: .5rem;
}

.players h2, span {
    text-align: center;
}

.players h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.players span {
    font-weight: 800;
    font-size: 3rem;
}

.player1 {
    background-color: teal;
}
.player2 {
    background-color: orange;
}
